.user-profile-form {
    max-width: 400px;
    margin: 0 auto;
    
  }
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid blueviolet;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 16px;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .PhoneInputCountryIconImg{
     width: 30px;
     height: 30px;
     margin-right: 10px;
     margin-top: 10px;
  }

  
  
  .phone-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .phone-input-country {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
 