body, button {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
  }
  
  .counter-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    background-color: aqua;
    border: 1px solid #000000;
    border-radius: 8px;
  }

  .counter-card h1 {
    margin-bottom: 20px; 
  }
  
  .counter-card {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #000000;
    box-shadow:rgba(0, 0, 0, 0 0 10px  0.1);
  }
  
  .counter-button {
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #000000;
    border-width: 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .decrement-button[disabled] {
    pointer-events: none;
    opacity: 0.5; /* Change opacity to visually indicate disabled state */
  }
  
  .decrement-button[disabled]:hover {
    /* Change cursor when hovering over disabled decrement button */
    cursor: not-allowed;
  }
  
  .increment-button-clicked {
    background-color: #32CD32; 
  }
  .decrement-button-clicked {
    background-color: #FF0000; 
  }
  
  .reset-button-clicked {
    background-color: #000000; 
    color: #ffffff; 
  }
  
  
  .count-text {
    font-size: 44px;
    font-weight: bold;
    margin-top: 20px;
    transition: color 0.3s;
  }