body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; 
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.counter-card {
  text-align: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.counter-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 10px;
}

.counter-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}


.increment-button.clicked {
  background-color: #32CD32; 
}

.decrement-button.clicked {
  background-color: #FF0000; 
}

.reset-button.clicked {
  background-color: #000000; 
  color: #ffffff; 
}

.count-text {
  font-size: 44px;
  font-weight: bold;
  transition: color 0.3s;
}


@media screen and (max-width: 768px) {
  .button-group {
    flex-direction: column;
  }

  .counter-button {
    margin: 10px 0; 
  }
  .counter-card{
    padding: 20px;
    width: 70%;
  }
}